@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@theme {
    --color-*: initial;
    --color-beige: #EAE3CD;
    --color-blue: #353C42;
    --color-pink: #C86B7B;
    --color-grey: #9F9797;
    --color-white: #FFFFFF;
    --color-linkBlue: #0000EE;
    --color-transparent: transparent;

    --breakpoint-*: initial;
    --breakpoint-phone: 425px;
    --breakpoint-tablet: 800px;
    --breakpoint-desktopSmall: 1100px;
    --breakpoint-desktop: 1400px;

    --font-roboto: var(--font-roboto), Tahoma, sans-serif;

    --spacing-15: 60px;
}

@utility text-paragraph {
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: 0.0075rem;
    font-weight: 300;
}

@utility text-subheading {
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 0.06rem;
    font-weight: 500;
}

@utility text-heading {
    font-size: 2.5rem;
    line-height: 140%;
    letter-spacing: 0.075rem;
    font-weight: 500;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #EAE3CD;
    }

    * {
        color: #353C42;
        font-family: var(--font-roboto),
            Tahoma,
            sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply uppercase
    }

    p {
        text-align: justify;
        @apply text-paragraph
    }


}

@layer components {
    .spinner {
        width: 30px;
        height: 30px;
        position: relative;
        margin: -0.1rem auto;
    }

    .spinner:before,
    .spinner:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: 3px solid transparent;
        border-top-color: #fff;
        animation: spin 1s linear infinite;
    }

    .spinner:after {
        animation-delay: 0.5s;
    }

    .small-spinner {
        width: 22.75px;
        height: 22.75px;
        position: relative;
    }

    .small-spinner:before,
    .small-spinner:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: 3px solid transparent;
        border-top-color: #C86B7B;
        animation: spin 1s linear infinite;
    }

    .small-spinner:after {
        animation-delay: 0.5s;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

}

@layer utilities {
    .our-clients-gradient {
        background: linear-gradient(to top, rgba(53, 60, 66, 0.10) -20%, rgba(234, 227, 205, 1) 10%, rgba(234, 227, 205, 1) 90%, rgba(53, 60, 66, 0.10) 120%);
    }
}

/* swiper styles */

.swiper-pagination-v {
    left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
    overflow: visible !important;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

.scroll-animate {
    animation: scrollAnimation 2s ease-in-out 1;
}

.grecaptcha-badge {
    visibility: hidden;
}